---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection, getEntry } from 'astro:content';
import natural from "natural";
import TableOfContents from "../../components/toc/TableOfContents.astro";
import NavSmall from "../../components/NavSmall.astro";

export async function getStaticPaths() {
    const termEntries = await getCollection('terms');
    return termEntries.map(entry => ({
        params: { slug: entry.slug }, props: { entry },
    }));
}

/*export function formatDate(date: Date): string {
    const year = date.getFullYear();
    const month = (date.getMonth() + 1).toString().padStart(2, '0'); // getMonth() is zero-based; adding 1
    const day = date.getDate().toString().padStart(2, '0');

    return `${year}-${month}-${day}`;
}*/

const { entry } = Astro.props;
//const author = await getEntry(entry.data.author);
const { Content } = await entry.render();

---
<BaseLayout pageTitle={entry.data.title + ' | LGDN'}>
    <NavSmall />
    <div class="container p-2 md:p-0">
        <div class="flex flex-col items-center mt-10">
            <article class="prose data-pagefind-body">
                <h1 class="md:text-5xl lg:text-8xl mb-4" transition:name=`term ${entry.data.title}`>{entry.data.title}</h1>
                <p><em transition:name=`term desc ${entry.data.title}`>{entry.data.description}</em></p>
            </article>

            <article class="prose my-8 data-pagefind-body">
                <Content />
            </article>
        </div>
    </div>
</BaseLayout>