---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection, render } from 'astro:content';
import TermCitation from "../../components/TermCitation.astro";
import {formatDate} from "../../utils/formatDate";
import SeeAlso from "../../components/shortcodes/SeeAlso.astro";

export async function getStaticPaths() {
    const terms = await getCollection('terms');
    return terms.map(term => ({
        params: { id: term.id },
        props: { term },
    }));
}

const { term } = Astro.props;
const { Content } = await render(term);

const components = {
    SeeAlso
};
---
<BaseLayout pageTitle={term.data.title + ' | LGDN'}>
    <div class="container p-2 md:p-0">
        <div class="flex flex-col items-center">
            <article class="prose dark:prose-invert xl:prose-lg my-8 data-pagefind-body">
                <h1 style="margin-bottom: 0" class="text-4xl lg:text-7xl xl:text-8xl font-bold">{term.data.title}</h1>
                <p>
                    <em>{term.data.description}</em>
                    <br>
                    {term.data.author && <span>{term.data.author}</span>}
                    {term.data.pubDate && <span>{formatDate(term.data.pubDate)}</span>}
                </p>

                <Content components={components} />

                <TermCitation term={term} />

                {(!term.data.author || !term.data.pubDate) &&
                    <div class="border-t not-prose pt-6">
                        <p>You're in luck! There's no explication for this term and you can be the one write it! <a href="/submit" class="underline hover:no-underline ml-2 font-bold text-accent-blue">Submit</a></p>
                    </div>
                }

                {term.data.author && term.data.pubDate &&
                    <p class="not-prose mt-4 border-t pt-6 text-sm">Text is available under the <a class="underline hover:no-underline" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International</a></p>
                }
            </article>
        </div>
    </div>
</BaseLayout>