---
import { getCollection } from 'astro:content';
import BaseLayout from "../../layouts/BaseLayout.astro";
import TermSnippet from "../../components/TermSnippet.astro";
import {lettersWithTerms} from "../../utils/letters";

export async function getStaticPaths() {
    const terms = await getCollection('terms');

    return lettersWithTerms.map(letter => {
        // Filter terms that start with the current letter
        const termsStartingWithLetter = terms
            .filter(term => term.id.toLowerCase().startsWith(letter))
            .sort((a, b) => a.data.title.localeCompare(b.data.title));
        return {
            params: { letter },
            props: { terms: termsStartingWithLetter },
        };
    });
}

const { letter } = Astro.params
const { terms } = Astro.props;

---

<BaseLayout pageTitle={letter.toUpperCase() + ' | LGDN'} letter={letter}>
    <div class="container mt-10 px-4" data-pagefind-ignore="all">
        <h1 class="underline underline-offset-8 decoration-accent-blue text-black dark:text-white text-xl font-bold mb-10 uppercase">
            <span>Terms starting with</span><span class="ml-2 transition-colors duration-500 ease-in" transition:name=`letter ${letter.toUpperCase()}`>{letter}</span>
        </h1>
        {terms.map( (post:any) => <TermSnippet term={post} />)}
    </div>
</BaseLayout>