---
import { getCollection } from "astro:content";

interface Props {
    items: string;
}

interface Item {
    slug: string;
    data: {
        title: string;
        description: string;
        pubDate?: Date | undefined;
    };
}

const { items } = Astro.props;
const parsedItems:string[] = JSON.parse(items);

const allEntries = await getCollection("terms"); // Change to your actual collection name

const getItem = (slug: string):Item|undefined => {
    return allEntries.find((entry) => entry.slug === slug);
};
---
{items.length > 0 && (
    <h2>See Also</h2>
    <ul>
      {parsedItems.map(slug => {
        const item = getItem(slug);
        if(!item) return null;
        return item.data.pubDate ? <li><a href=`/terms/{item.slug}`><strong>{item.data.title}</strong></a> - <em>{item.data.description}</em></li> : <li><strong>{item.data.title}</strong> - <em>{item.data.description}</em></li>;
      })}
    </ul>
)}
